

.first-view{
     display: flex;
     justify-content: space-between;
}
 
.first-left{
     width: 46%;
     height: 800px;
     position: relative;
     @include tab{
         display:none;
     }
     .first-box{
         display: flex;
         justify-content: space-between;
         flex-direction: column;
         height: 214px;
         width: 66%;
        position: absolute;
        top:50%;left:50%;
         transform: translate(-50%, -50%);
         @include tab{
             display: none;
         }
         h1{
             font-size: 3.8rem;
             font-family: "ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
             text-align: center;
             
         }
         p{
             font-size: 3.8rem;
             font-family: Segoe Script;
         }
     }
     
     }


 .first-right{
     background-image: url(../permil/hair-img/blond.png);
     background-size: cover;
     width: 54%;
     height: 800px;
     @include tab{
         width: 100%;
         position: relative;
         
     }
 }

 .second-box{
         display:none;
         @include tab{
           display: flex;
         justify-content: space-between;
         flex-direction: column;
         height: 118px;
         width: 66%;
        position: absolute;
        top:50%;left:50%;
         transform: translate(-50%, -50%);
             h1{
                 color: white;
                font-size: 3.8rem;
                 font-family: Segoe Script;
                 margin: 0;
                 text-align: center;
                 font-size:2.8rem;
                 text-shadow: 0px 3px 16px #000000;
             }
             h2{
                 color: white;
                  font-size: 3.8rem;
                 font-family: "ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
                 text-align: center;
                 font-size:2.3rem;
                 text-shadow: 0px 3px 16px #000000;
             }
         }
 }
