html{
    font-size: 62.5%;
    letter-spacing: 0.1em;
    
}

body{
    line-height: 1.67;
    font-family: 	Candara;
}

.padding{
    padding:0 8%;
    @include tab{
        padding: 0 5%;
    }
}

.title{
    color: #707070;
    padding-top: 261px;
    font-size: 18px;
    letter-spacing: 0.54rem;
    @include tab{
        padding-top: 60px;
        padding-bottom: 50px;
    }
     &:after{
            display: inline-block;
            content: "";
            border-top: 1px solid #707070;
            height: 6px;
            width: 99px;
            margin-left: 22.5px;
     }
}

.text{
    font-family:Meiryo; 
    font-size: 16px;
}

.nav-wrapper.hamburger{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    z-index: 2;
}

.nav.nav-list{
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    text-align: center;
}
